@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif+Display:wght@600&display=swap");
*,
::before,
::after {
    box-sizing: border-box
}
html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
body {
    font-family: system-ui,
        -apple-system,
        /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji'
}
hr {
    height: 0;
    color: inherit
}
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}
b,
strong {
    font-weight: bolder
}
code,
kbd,
samp,
pre {
    font-family: ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    font-size: 1em
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -0.25em
}
sup {
    top: -0.5em
}
table {
    text-indent: 0;
    border-color: inherit
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
button,
select {
    text-transform: none
}
button,
[type='button'] {
    -webkit-appearance: button
}
::-moz-focus-inner {
    border-style: none;
    padding: 0
}
legend {
    padding: 0
}
progress {
    vertical-align: baseline
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
summary {
    display: list-item
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}
button {
    background-color: transparent;
    background-image: none
}
fieldset {
    margin: 0;
    padding: 0
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}
html {
    font-family: Noto Sans, ui-sans-serif, system-ui;
    line-height: 1.5
}
body {
    font-family: inherit;
    line-height: inherit
}
*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}
hr {
    border-top-width: 1px
}
img {
    border-style: solid
}
textarea {
    resize: vertical
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}
input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}
button,
[role="button"] {
    cursor: pointer
}
table {
    border-collapse: collapse
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}
a {
    color: inherit;
    text-decoration: inherit
}
button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}
pre,
code,
kbd,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}
img,
video {
    max-width: 100%;
    height: auto
}
[hidden] {
    display: none
}
*,
::before,
::after {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}
.pointer-events-none {
    pointer-events: none
}
.pointer-events-auto {
    pointer-events: auto
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.top-3 {
    top: 0.75rem
}
.top-4 {
    top: 1rem
}
.top-20 {
    top: 5rem
}
.right-0 {
    right: 0px
}
.right-3 {
    right: 0.75rem
}
.bottom-0 {
    bottom: 0px
}
.left-3 {
    left: 0.75rem
}
.z-10 {
    z-index: 10
}
.m-0 {
    margin: 0px
}
.m-3 {
    margin: 0.75rem
}
.m-0\.5 {
    margin: 0.125rem
}
.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}
.mt-0 {
    margin-top: 0px
}
.mt-2 {
    margin-top: 0.5rem
}
.mt-6 {
    margin-top: 1.5rem
}
.mr-1 {
    margin-right: 0.25rem
}
.mr-2 {
    margin-right: 0.5rem
}
.mr-3 {
    margin-right: 0.75rem
}
.mr-4 {
    margin-right: 1rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-2 {
    margin-bottom: 0.5rem
}
.mb-3 {
    margin-bottom: 0.75rem
}
.mb-6 {
    margin-bottom: 1.5rem
}
.ml-1 {
    margin-left: 0.25rem
}
.ml-2 {
    margin-left: 0.5rem
}
.inline-block {
    display: inline-block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.table {
    display: table
}
.hidden {
    display: none
}
.h-1 {
    height: 0.25rem
}
.h-3 {
    height: 0.75rem
}
.h-5 {
    height: 1.25rem
}
.h-6 {
    height: 1.5rem
}
.h-7 {
    height: 1.75rem
}
.h-14 {
    height: 3.5rem
}
.h-24 {
    height: 6rem
}
.h-32 {
    height: 8rem
}
.h-full {
    height: 100%
}
.w-4 {
    width: 1rem
}
.w-5 {
    width: 1.25rem
}
.w-6 {
    width: 1.5rem
}
.w-7 {
    width: 1.75rem
}
.w-8 {
    width: 2rem
}
.w-9 {
    width: 2.25rem
}
.w-14 {
    width: 3.5rem
}
.w-px {
    width: 1px
}
.w-full {
    width: 100%
}
.max-w-screen-sm {
    max-width: 640px
}
.max-w-screen-md {
    max-width: 768px
}
.max-w-screen-xs {
    max-width: 468px
}
.flex-1 {
    flex: 1 1 0%
}
.flex-none {
    flex: none
}
.flex-grow {
    flex-grow: 1
}
.transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.scale-150 {
    --tw-scale-x: 1.5;
    --tw-scale-y: 1.5
}
@-webkit-keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0
    }
}
@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0
    }
}
@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}
@keyframes pulse {
    50% {
        opacity: .5
    }
}
@-webkit-keyframes bounce {
    0%,
    100% {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1)
    }
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1)
    }
}
.flex-col {
    flex-direction: column
}
.items-end {
    align-items: flex-end
}
.items-center {
    align-items: center
}
.items-stretch {
    align-items: stretch
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.justify-evenly {
    justify-content: space-evenly
}
.justify-self-end {
    justify-self: end
}
.overflow-auto {
    overflow: auto
}
.overflow-hidden {
    overflow: hidden
}
.overflow-scroll {
    overflow: scroll
}
.rounded-sm {
    border-radius: 0.125rem
}
.rounded-lg {
    border-radius: 0.5rem
}
.rounded-full {
    border-radius: 9999px
}
.rounded-t-md {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem
}
.border-2 {
    border-width: 2px
}
.border {
    border-width: 1px
}
.border-t {
    border-top-width: 1px
}
.border-b {
    border-bottom-width: 1px
}
.border-none {
    border-style: none
}
.border-custom-fg {
    border-color: var(--color-fg)
}
.border-custom-mg {
    border-color: var(--color-mg)
}
.border-custom-line {
    border-color: var(--color-line)
}
.focus\:border-custom-positive:focus {
    border-color: var(--color-positive)
}
.bg-custom-positive {
    background-color: var(--color-positive)
}
.bg-custom-negative {
    background-color: var(--color-negative)
}
.bg-custom-fg {
    background-color: var(--color-fg)
}
.bg-custom-bg {
    background-color: var(--color-bg)
}
.bg-custom-mg {
    background-color: var(--color-mg)
}
.bg-custom-line {
    background-color: var(--color-line)
}
.bg-custom-highlight {
    background-color: var(--color-highlight)
}
.p-1 {
    padding: 0.25rem
}
.p-2 {
    padding: 0.5rem
}
.p-3 {
    padding: 0.75rem
}
.p-6 {
    padding: 1.5rem
}
.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}
.pt-0 {
    padding-top: 0px
}
.pt-1 {
    padding-top: 0.25rem
}
.pt-3 {
    padding-top: 0.75rem
}
.pt-6 {
    padding-top: 1.5rem
}
.pb-0 {
    padding-bottom: 0px
}
.pb-5 {
    padding-bottom: 1.25rem
}
.pb-6 {
    padding-bottom: 1.5rem
}
.pl-7 {
    padding-left: 1.75rem
}
.pl-9 {
    padding-left: 2.25rem
}
.text-center {
    text-align: center
}
.font-serif {
    font-family: Noto Serif Display, ui-serif, Georgia
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.font-semibold {
    font-weight: 600
}
.font-bold {
    font-weight: 700
}
.uppercase {
    text-transform: uppercase
}
.lowercase {
    text-transform: lowercase
}
.tracking-widest {
    letter-spacing: 0.2em
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}
.text-custom-positive {
    color: var(--color-positive)
}
.text-custom-negative {
    color: var(--color-negative)
}
.text-custom-fg {
    color: var(--color-fg)
}
.text-custom-mg {
    color: var(--color-mg)
}
.text-custom-line {
    color: var(--color-line)
}
.no-underline {
    text-decoration: none
}
*,
::before,
::after {
    --tw-shadow: 0 0 #0000
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
*,
::before,
::after {
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000
}
.filter {
    --tw-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-drop-shadow: var(--tw-empty,
            /*!*/
            /*!*/
        );
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    background: var(--color-bg)
}
p a,
p a:visited,
p a:hover,
p a:active {
    color: var(--color-fg);
    text-decoration: underline;
    text-underline-offset: 2.5px
}
a,
a:visited,
a:hover,
a:active {
    color: var(--color-fg);
    text-decoration: none
}
.text-custom-line a,
.text-custom-line a:visited,
.text-custom-line a:active {
    color: var(--color-line)
}
.tracking-widest {
    text-indent: 0.25em
}
:root {
    --color-positive: #9dcfa2;
    --color-negative: #C8613D;
    --color-fg: #EFF0E7;
    --color-mg: #7db1a3;
    --color-bg: #121212;
    --color-line: #7db1a3;
    --color-shade: rgba(0, 0, 0, 0.1);
    --color-highlight: rgba(255, 255, 255, 0.05)
}
@media(min-width: 640px) {}
@media(min-width: 768px) {}
@media(min-width: 1024px) {}
@media(min-width: 1280px) {}
@media(min-width: 1536px) {}
@media(min-width: 468px) {}
.autoComplete_wrapper > ul {
    top: auto !important;
    bottom: 100% !important;
    z-index: 100;
    font-size: 0.9em;
    position: absolute;
    background: var(--color-bg);
    width: 100%;
    border: 1px solid var(--color-mg)
}
.autoComplete_wrapper > ul li {
    padding: 0.5rem 0.75rem;
    width: 100%;
    border-bottom: 1px solid var(--color-mg);
    letter-spacing: 1px;
    line-height: 1.3
}
.autoComplete_wrapper mark {
    background: var(--color-mg) !important;
    color: var(--color-fg)
}
.autoComplete_wrapper[aria-expanded="true"] #autoComplete {
    border-radius: 0 0 4px 4px
}
input[type="textfield"] {
    -webkit-appearance: none
}
#autoComplete {
    -webkit-appearance: none;
    background-image: none
}
#autoComplete_list_1 {
    border-radius: 4px 4px 0 0
}
.modal-background.svelte-1nyqrwd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000
}
button.svelte-1r54uzk {
    color: #fff,
}
@-webkit-keyframes svelte-15swa4o-gg-bar {
    10% {
        box-shadow: inset 0 -4px 0
    }
    30% {
        box-shadow: inset 0 -10px 0
    }
    60% {
        box-shadow: inset 0 -6px 0
    }
    80% {
        box-shadow: inset 0 -8px 0
    }
    to {
        box-shadow: inset 0 -2px 0
    }
}
@keyframes svelte-15swa4o-gg-bar {
    10% {
        box-shadow: inset 0 -4px 0
    }
    30% {
        box-shadow: inset 0 -10px 0
    }
    60% {
        box-shadow: inset 0 -6px 0
    }
    80% {
        box-shadow: inset 0 -8px 0
    }
    to {
        box-shadow: inset 0 -2px 0
    }
}
.musicIsPlaying.svelte-15swa4o,
.musicIsPlaying.svelte-15swa4o::after,
.musicIsPlaying.svelte-15swa4o::before {
    -webkit-animation: svelte-15swa4o-gg-bar 1.3s ease infinite alternate;
    animation: svelte-15swa4o-gg-bar 1.3s ease infinite alternate
}
.gg-loadbar-sound.svelte-15swa4o,
.gg-loadbar-sound.svelte-15swa4o::after,
.gg-loadbar-sound.svelte-15swa4o::before {
    display: block;
    box-sizing: border-box;
    width: 2px;
    height: 12px;
    box-shadow: inset 0 -1px 0
}
.gg-loadbar-sound.svelte-15swa4o {
    position: relative;
    margin-right: 5px;
    margin-left: 5px
}
.gg-loadbar-sound.svelte-15swa4o::after,
.gg-loadbar-sound.svelte-15swa4o::before {
    content: "";
    position: absolute;
    bottom: 0
}
.gg-loadbar-sound.svelte-15swa4o::before {
    left: -4px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s
}
.gg-loadbar-sound.svelte-15swa4o::after {
    right: -4px;
    -webkit-animation-delay: -3.7s;
    animation-delay: -3.7s
}
.loader.svelte-57p3aa {
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-line);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: svelte-57p3aa-rotation 1s linear infinite;
    animation: svelte-57p3aa-rotation 1s linear infinite
}
@-webkit-keyframes svelte-57p3aa-rotation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@keyframes svelte-57p3aa-rotation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
.kofi-button.svelte-1d3p4dy.svelte-1d3p4dy {
    background-color: rgb(41, 171, 224) !important
}
a.svelte-1d3p4dy.svelte-1d3p4dy {
    text-decoration: none
}
.kofitext.svelte-1d3p4dy img.kofiimg.svelte-1d3p4dy {
    height: 20px !important;
    width: 28px !important;
    display: initial;
    -webkit-animation: svelte-1d3p4dy-kofi-wiggle 1.5s infinite;
    animation: svelte-1d3p4dy-kofi-wiggle 1.5s infinite
}
@-webkit-keyframes svelte-1d3p4dy-kofi-wiggle {
    0% {
        transform: rotate(0) scale(1)
    }
    60% {
        transform: rotate(0) scale(1)
    }
    75% {
        transform: rotate(0) scale(1.12)
    }
    80% {
        transform: rotate(0) scale(1.1)
    }
    84% {
        transform: rotate(-10deg) scale(1.1)
    }
    88% {
        transform: rotate(10deg) scale(1.1)
    }
    92% {
        transform: rotate(-10deg) scale(1.1)
    }
    96% {
        transform: rotate(10deg) scale(1.1)
    }
    100% {
        transform: rotate(0) scale(1)
    }
}
@keyframes svelte-1d3p4dy-kofi-wiggle {
    0% {
        transform: rotate(0) scale(1)
    }
    60% {
        transform: rotate(0) scale(1)
    }
    75% {
        transform: rotate(0) scale(1.12)
    }
    80% {
        transform: rotate(0) scale(1.1)
    }
    84% {
        transform: rotate(-10deg) scale(1.1)
    }
    88% {
        transform: rotate(10deg) scale(1.1)
    }
    92% {
        transform: rotate(-10deg) scale(1.1)
    }
    96% {
        transform: rotate(10deg) scale(1.1)
    }
    100% {
        transform: rotate(0) scale(1)
    }
}
